*.*~
*.o
/aclocal.m4
/autom4te.cache
/config
/config.log
/config.status
/configure
/libtool
samples
src/Makefile
src/ytst
Makefile.in
Makefile
config.h
config.h.in
depcomp
install-sh
missing
src/.deps/
stamp-h1
