=
*.*~
*.o
*.lo
*.la
compile
m4/lt*
m4/libtool*
ltmain.sh
/aclocal.m4
/autom4te.cache
/config
/config.guess
/config.sub
/config.log
/config.status
/configure
/libtool
*.mp*
*.aac
src/Makefile
src/ytst
Makefile.in
Makefile
config.h
config.h.in
depcomp
install-sh
missing
*.deps*
*.libs*
stamp-h1
